<?xml version="1.1" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd" default-lazy-init="true">
	<context:component-scan base-package="com.kind.permission.core" />
	<task:scheduler id="scheduler" pool-size="6" />
	<task:annotation-driven scheduler="scheduler" /> 
	<bean id="propertyConfigurer"
		class="com.kind.common.config.CustomizedPropertyConfigurer"
		lazy-init="false">
		<property name="order" value="1" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
			    <value>classpath:/conf.properties</value>
				<value>classpath:/dev/jdbc.properties</value>
				<value>classpath:/dev/system.properties</value>
			</list>
		</property>
	</bean>
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="/exception" />
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">/exception</prop>
			</props>
		</property>
	</bean>
	<!-- 配置 JSR303 Bean Validator 定义 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
	<!-- aop记录方法执行时间 -->
	<!-- 拦截 service 包中的所有方法 -->
	<aop:config>
        <aop:advisor id="methodTimeLog" advice-ref="methodTimeAdvice" pointcut="execution(* *..service..*(..))"/>
    </aop:config>
    <bean id="methodTimeAdvice" class="com.kind.common.trace.MethodTimeAdvice"/>
    <import resource="classpath*:spring/spring-datasource-test.xml" />
</beans>