<?xml version="1.1" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="1800 seconds" debug="false">
	<property name="USER_HOME" value="logs" />
	<property scope="context" name="FILE_NAME" value="kind-perm" />
	<timestamp key="byDay" datePattern="yyyy-MM-dd" />
	<Encoding>UTF-8</Encoding>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${USER_HOME}/${FILE_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${USER_HOME}/${byDay}/${FILE_NAME}-${byDay}-%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{150} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="com.alibaba.druid.pool.DruidDataSource" level="DEBUG" />
	<logger name="java.sql.Connection" level="DEBUG" additivity="true" />
	<logger name="java.sql.Statement" level="DEBUG" additivity="true" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" additivity="true" />
	<logger name="java.sql.ResultSet" level="INFO" additivity="true" />
	<logger name="org.springframework" level="WARN" />
	<logger name="com.google.code" level="WARN" />
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>