<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kind.perm.core.mapper.RoleDOMapper">
	<resultMap id="RoleResultMap" type="com.kind.perm.core.domain.RoleDO">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="sort_no" property="sortNo" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, code, description, sort_no, status,create_user,modify_user,create_time,
		modify_time
	</sql>
	<!-- 分页查询条件 -->
	<sql id="whereCondition">
		<if test="name != null and name != '' ">
			and username = #{username, jdbcType=VARCHAR}
		</if>
		<if test="createTimeStart != null">
			<![CDATA[ AND create_time >= #{createTimeStart, jdbcType=TIMESTAMP} ]]>
		</if>
		<if test="createTimeEnd != null">
			<![CDATA[ AND create_time <= #{createTimeEnd, jdbcType=TIMESTAMP} ]]>
		</if>
	</sql>
	<!-- 分页. -->
	<select id="page" resultMap="RoleResultMap" parameterType="com.kind.perm.core.dto.request.UserQueryRequest">
		select
		<include refid="Base_Column_List" />
		from sys_role
		limit #{startRow},#{pageSize}
	</select>
	<!-- 获取记录数. -->
	<select id="count" resultType="java.lang.Integer" parameterType="com.kind.perm.core.dto.request.UserQueryRequest">
		select
		count(*)
		from sys_role
	</select>
	<!-- 根据id获取角色. -->
	<select id="getById" resultMap="RoleResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_role
		where id = #{id,jdbcType=BIGINT}
	</select>
	<!-- 根据id删除. -->
	<delete id="removeById" parameterType="java.lang.Long">
		delete from sys_role
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<!-- 保存角色. -->
	<insert id="save" parameterType="com.kind.perm.core.domain.RoleDO">
		insert into sys_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="sortNo != null">
				sort_no,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="modifyUser != null">
				modify_user,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="sortNo != null">
				#{sortNo,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="modifyUser != null">
				#{modifyUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<!-- 修改角色. -->
	<update id="change" parameterType="com.kind.perm.core.domain.RoleDO">
		update sys_role
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="sortNo != null">
				sort_no = #{sortNo,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="modifyUser != null">
				modify_user = #{modifyUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				modify_time = now(),
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>