<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kind.perm.core.mapper.UserRoleDOMapper">
	<resultMap id="UserRoleResultMap" type="com.kind.perm.core.domain.UserRoleDO">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="role_id" property="roleId" jdbcType="BIGINT" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, role_id, create_time, modify_time
	</sql>
	<!-- 根据地查询 -->
	<select id="getById" resultMap="UserRoleResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_user_role
		where id = #{id,jdbcType=BIGINT}
	</select>
	<!-- 根据id删除 -->
	<delete id="removeById" parameterType="java.util.Map">
		delete from sys_user_role
		where user_id = #{userId,jdbcType=BIGINT}
		and role_id = #{roleId,jdbcType=BIGINT}
	</delete>
	<!-- 保存 -->
	<insert id="save" parameterType="com.kind.perm.core.domain.UserDO">
		insert into sys_user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="modifyUser != null">
				modify_user,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=BIGINT},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="modifyUser != null">
				#{modifyUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<!-- 修改 -->
	<update id="change" parameterType="com.kind.perm.core.domain.UserDO">
		update sys_user_role
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=BIGINT},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="modifyUser != null">
				modify_user = #{modifyUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				modify_time = now(),
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<!-- 获取用户角色. -->
	<select id="getUserRolesByUserId" resultMap="UserRoleResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_user_role
		where user_id = #{userId,jdbcType=BIGINT}
	</select>
</mapper>